@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Define Custom Properties */
:root {
    /* Colors */
    
    --main-accent: linear-gradient(27deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);
    --pure-black: rgb(0, 0, 0);
    --light-grey: #dfdfdf;
    --pure-white: #ffffff;
    --light-black: rgb(from var(--pure-black) r g b / .5);
    /* font family */
    --ff-main: 'DM Sans', sans-serif;

    /* font sizes */
    --fs-xl: 2.5rem; 
    --fs-lg: 1.5rem;
    --fs-md: 1.125rem;
    --fs-general: 0.9375rem;
    --fs-sm: 0.75rem;
    --fs-custom: 2rem;
}

.h-xl {
    font-size: var(--fs-xl);
    line-height: 48px;
    letter-spacing: 4.17px;
    font-weight: 700;
    text-transform: uppercase;
}

.h-lg {
    font-size: var(--fs-lg);
    line-height: 25px;
    font-weight: 700;
}

.h-md {
    font-size: var(--fs-md);
    line-height: 25px;
    font-weight: 700;
}

.h-sm {
    font-size: var(--fs-sm);
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

.h-general {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.h-32 {
    font-size: var(--fs-custom);
    line-height: 48px;
    letter-spacing: 3.33px;
    font-width: 700;
}

.h-20 {
    font-size: 20px;
    line-height: 32px;
}

.fs-13 {
    font-size: 13px;
    font-weight: 400;
}

.fw-bold {
    font-weight: 700;
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main);
    font-size: var(--fs-general);
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2 {
    font-size: var(--fs-custom);
    line-height: 3rem;
    letter-spacing: 3px;
    font-weight: 700;
}

h1 {
    font-size: var(--fs-lg);
}

.title {
    font-size: var(--fs-lg);
    line-height: 28px;
    font-weight: 700;
    letter-spacing: -1.0714px;
    color: var(--light-black);
}

/* Composition */

.center {
    max-width: 80%;
    margin-inline: auto;
    padding-inline: 10px;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: var(--stack-gap, 2rem);
}

.body {
    --stack-gap: 4.5rem;
}

.main {
    --stack-gap: 4.5rem;
}
.section {
    --stack-gap: 2rem;
}

.section hr {
    margin-block: 2rem;
}

.cluster {
    display: flex;
    align-items: center;   
    gap: var(--cluster-gap, 1.875rem);
}

.nav_logo {
    --cluster-gap: 0.5rem;
}

.buttons {
    --cluster-gap: 9.75rem;
}

.buttons-container {
    --cluster-gap: 3rem;
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((var(--switcher-threshold, 40rem) - 100%) * 999);
}

/* Block */

.numbered-title {
    text-transform: uppercase;
    font-size: var(--fs-custom);
}

.numbered-title span {
    color: var(--light-black);
}

.color {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--pure-black);
    border: 1px solid black;
}

button, .btn {
    padding: 12px 24px;
    text-transform: uppercase;
    color: var(--pure-black);
    background-color: var(--pure-white);
    letter-spacing: 2px;
    line-height: 100%;
    font-size: var(--fs-sm);
    cursor: pointer;
    border: none;
    font-weight: 700;
}

button:hover, 
.btn:hover {
    background-color: var(--light-grey);
    color: var(--pure-black);
}

button[data-style="text"],
.btn[data-style="text"] {
    display: inline-flex;
    gap: 1rem;
    border: none;
    padding: 0 0 0 2px;
    background-color: transparent;
    color: inherit;
}

button[data-style="text"]:hover,
.btn[data-style="text"]:hover {
    text-decoration: underline;
    background-color: none;

}

button[data-style="text"]::after,
.btn[data-style="text"]::after {
    content: "";
    mask-image: url(assets/arrow-left.svg);
    width: 42px;
    height: 12px;
    flex-shrink: 0;
    background-color: currentColor;

}

.triangle {
    width: 19px;
    height: 16px;
    background: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.nav {
    padding-block: var(--nav-padding-block, 1rem);
    justify-content: space-between;
    --separation-gap: var(--nav-padding-block);
}

.nav_item:hover {
    color: var(--light-black);
}

.with-bar {
    position: relative;
}

.with-bar::before {
    content: "";
    position: absolute;
    top: calc(-1 * var(--separation-gap, 0));
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}

.with-bar[data-direction="vertical"]::before {
    top: 0;
    left: calc(-1 * var(--separation-gap, 0));
    height: 100%;
    width: 6px;
    background: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}

.card-container {
    gap: 0;
}

.card {
    height: 500px;
    justify-content: end;
    padding: 40px;
    gap: 0;
    color: white;
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0.27%, rgba(0, 0, 0, 0.66) 100%),
        var(--card-image);
    background-size: 100% 350px, cover;
    background-position: bottom, center ;
    background-repeat: no-repeat;
}

.mountains {
    --card-image: url(assets/stories/desktop/mountains.jpg);
}
.architecturals {
    --card-image: url(assets/stories/desktop/architecturals.jpg);
}
.days-voyage {
    --card-image: url(assets/stories/desktop/18-days-voyage.jpg);
}
.world-tour {
    --card-image: url(assets/stories/desktop/world-tour.jpg);
}
.cityscapes {
    --card-image: url(assets/stories/desktop/cityscapes.jpg);
}
.somwarpet {
    --card-image: url(assets/stories/desktop/somwarpet.jpg);
}
.behind-the-waves {
    --card-image: url(assets/stories/desktop/behind-the-waves.jpg);
}
.trip-to-nowhere {
    --card-image: url(assets/stories/desktop/trip-to-nowhere.jpg);
}
.king-on-africa {
    --card-image: url(assets/stories/desktop/king-on-africa.jpg);
}
.running-free {
    --card-image: url(assets/stories/desktop/running-free.jpg);
}
.rage-of-the-sea {
    --card-image: url(assets/stories/desktop/rage-of-the-sea.jpg);
}
.moon-of-appalacia {
    --card-image: url(assets/stories/desktop/moon-of-appalacia.jpg);
}
.dark-forest {
    --card-image: url(assets/stories/desktop/dark-forest.jpg);
}
.milky-way {
    --card-image: url(assets/stories/desktop/milky-way.jpg);
}
.calm-waters {
    --card-image: url(assets/stories/desktop/calm-waters.jpg);
}
.unforeseen-corners {
    --card-image: url(assets/stories/desktop/unforeseen-corners.jpg);
}
.land-of-dreams {
    --card-image: url(assets/stories/desktop/land-of-dreams.jpg);
}

.card > hr {
    margin-block: 16px 20px;
}

.card2 {
    align-items: center;
    text-align: center;

    & .image-box {
        display: grid;
        place-items: center;
        height: 72px;
    }
}

.cards2-container {
    padding-block: 120px;
}

small {
    color: rgb(from var(--pure-black) r g b / 0.5);
}

.panel {
    gap: 0;
}

.panel_description {
    padding-block: 10.8rem;
    --panel_desc-inline-padding: 7rem;
    padding-inline: var(--panel_desc-inline-padding);
    height: initial;
    text-align: left;
    flex-grow: 1;
    --separation-gap: var(--panel_desc-inline-padding);

    & h1, h2 {
        font-size: var(--fs-xl);
        line-height: 48px;
        letter-spacing: 4.17px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.panel_img {
    max-width: 830px;
    flex-grow: 2;
}

.panel[data-order="inverted"] > .panel_description {
    order: 2;
}

.footer {
    --nav-padding-block: 0;
    --stack-gap: 2rem;
    padding-block: 4rem;
    background-color: var(--pure-black);
    color: var(--pure-white);
}

.footer-content {
    justify-content: space-between;
    height: 122px;
}

/* Utility classes */

.bg-black {
    background-color: var(--pure-black);
    color: var(--pure-white);
}

.bg-white {
    background-color: var(--pure-white);
    color: var(--pure-black);
}

.bg-primary {
    background-color: var(--main-accent);
}

.clr-white {
    color: var(--pure-white);
}

.clr-light-white {
    color: rgb(from var(--pure-white) r g b / .6);
}

.clr-light-black {
    color: rgb(from var(--pure-black) r g b / .6);
}

.uppercase {
    text-transform: uppercase;
}

.gap-21 {
    gap: 21px;
}

.gap-45 {
    gap: 45px;
}

.gap-4 {
    gap: 4px;
}

.gap-48 {
    gap: 48px;
}

.gap-16 {
    gap: 16px;
}

.gap-109 {
    gap: 109px;
}

.gap-0 {
    gap: 0;
}

.space-between {
    justify-content: space-between;
}

.stretch {
    align-items: stretch;
}